body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    background-color: #121222;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}
p {
  margin: 0 0 5px;
  padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('Blood.png');
    background-size: cover;
    padding: 50px 20px 0;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}
.bg-day {
    background-image: url('Sun.png');
}

#temp {
    font-size: 80px;
    line-height: 80px;
    font-weight: 100;
    padding-left: 18px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#weather {
    margin-bottom: 15px;
}
#city {
    font-size: 24px;
    line-height: 24px;
}
#weatherBox p {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
